body {
  background: #F9F9FA;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  font-size: 15px;
}

h1 {
  font-size: 24px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #D2D7DC;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a:hover {
  color: #7F8C9A;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  overflow: auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.button {
  min-width: 80px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  background: #65A2E9;
  border-radius: 4px;
  margin-top: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.button:hover {
  background: #3572B9;
  color: white;
}

aside {
  width: 25%;
  max-width: 312px;
  float: left;
}

article {
  width: 70%;
  max-width: 912px;
  float: right;
}

.option {
  width: 100%;
  float: left;
  padding-bottom: 25px;
  clear: both;
}

.content {
  width: 100%;
  background: white;
  float: left;
  padding: 40px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content h1 {
  margin-top: 0px;
}

.photo {
  height: 48px;
  width: 48px;
  float: left;
  background: #7F8C9A;
  border-radius: 100%;
  margin-top: 13px;
}

.initial {
  color: white;
  padding: 15px 0px;
  text-transform: uppercase;
  text-align: center;
}

.name {
  float: left;
  width: 70%;
  margin-top: 21px;
  margin-left: 15px;
}

.logout {
  float: left;
  width: 70%;
  margin-left: 15px;
  font-size: 13px;
}

nav {
  float: left;
  width: 100%;
  margin-top: 12px;
}

nav ul {
  padding-left: 0px;
  margin-left: 0px;
  list-style: none;
  width: 100%;
}

nav ul li a {
  padding: 15px 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

.content ul {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  list-style: none;
  width: 100%;
}

.content ul li a {
  padding: 15px 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  border-bottom: 1px solid #e0e0e0;
  color: #7F8C9A;
}

.content ul li a:hover {
  color: #65A2E9;
}

form {
  width: 100%;
}

input[type=text] {
  width: 100%;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  width: 100%;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 4px;
  background: red;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  min-width: 80px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  background: #65A2E9;
  border-radius: 4px;
  margin-top: 20px;
  border: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

button:hover {
  background: #3572B9;
  color: white;
  cursor: pointer;
}

textarea {
  width: 100%;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

